{% extends 'base.html.twig' %}

{% block title %}Listado de tareas{% endblock %}

{% block body %}
<h1>Listado de tareas</h1>

<ul>
  {% for tarea in tareas %}
    <li>{{ tarea.descripcion }}</li>
  {% else %}
    <li>No hay tareas.</li>
  {% endfor %}
</ul>
{% endblock %}
